@import "tailwindcss" important;

*::-webkit-scrollbar {
  display: none !important;
}

.ant-menu-item-selected {
  color: #fe5f5c !important;
  background: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}